<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on lab: Accessing Databases using Python Script**

Estimated time needed: **30** minutes

## Objectives

In this lab you'll learn how to:

1. Create a database using Python

2. Load the data from a CSV file as a table to the database

3. Run basic "queries" on the database to access the information

## Scenario

Consider a dataset of employee records that is available with an HR team in a CSV file. As a Data Engineer, you are required to create the database called <code>STAFF</code> and load the contents of the CSV file as a table called <code>INSTRUCTORS</code>. The headers of the available data are :


| Header| Description|
|-------|------------|
| ID| Employee ID|
| FNAME| First Name|
| LNAME| Last Name|
| CITY| City of residence|
| CCODE|Country code (2 letters)|

## Code Setup

## Python Scripting: Database intiation

Let us first create a database using Python.

Open <code>db_code.py</code> and import the <code>sqlite3</code> library using the below mentioned command.

In [1]:
import sqlite3

Import the <code>pandas</code> library in <code>db_code.py</code> using the following code.

In [ ]:
import pandas as pd

Now, you can use SQLite3 to create and connect your process to a new database <code>STAFF</code> using the following statements.

In [ ]:
conn = sqlite3.connect('STAFF.db')

## Python Scripting: Create and Load the table

To create a table in the database, you first need to have the attributes of the required table. Attributes are columns of the table. Along with their names, the knowledge of their data types are also required. The attributes for the required tables in this lab were shared in the Lab Scenario.

Add the following statements to <code>db_code.py</code> to feed the required table name and attribute details for the table.

In [12]:
table_name = 'INSTRUCTOR'
attribute_list = ['ID', 'FNAME', 'LNAME', 'CITY', 'CCODE']

## Reading the CSV file

Now, to read the CSV using Pandas, you use the <code>read_csv()</code> function. Since this CSV does not contain headers, you can use the keys of the <code>attribute_dict</code> dictionary as a list to assign headers to the data. For this, add the commands below to <code>db_code.py</code>.

In [ ]:
file_path = '/home/project/INSTRUCTOR.csv'
df = pd.read_csv(file_path, names = attribute_list)

## Loading the data to a table

The <code>pandas</code> library provides easy loading of its dataframes directly to the database. For this, you may use the <code>to_sql()</code> method of the <code>dataframe</code> object.

However, while you load the data for creating the table, you need to be careful if a table with the same name already exists in the database. If so, and it isn't required anymore, the tables should be replaced with the one you are loading here. You may also need to append some information to an existing table. For this purpose, <code>to_sql()</code> function uses the argument <code>if_exists</code>. The possible usage of <code>if_exists</code> is tabulated below.

| Argument usage| Description|
|-----------|-------------|
|<code>if_exists = 'fail'</code>| Default. The command doesn't work if a table with the same name exists in the database.|
|<code>if_exists = 'replace'</code>| The command replaces the existing table in the database with the same name.|
|<code>if_exists = 'append'</code>| The command appends the new data to the existing table with the same name.|

As you need to create a fresh table upon execution, add the following commands to the code. The print command is optional, but helps identify the completion of the steps of code until this point.

In [ ]:
df.to_sql(table_name, conn, if_exists = 'replace', index =False)
print('Table is ready')

## Python Scripting: Running basic queries on data

Now that the data is uploaded to the table in the database, anyone with access to the database can retrieve this data by executing SQL queries.

Some basic SQL queries to test this data are <code>SELECT</code> queries for viewing data, and <code>COUNT</code> query to count the number of entries.

SQL queries can be executed on the data using the <code>read_sql</code> function in <code>pandas</code>.

Now, run the following tasks for data retrieval on the created database.

1. Viewing all the data in the table.

Add the following lines of code to <code>db_code.py</code>

In [ ]:
query_statement = f"SELECT * FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

2. Viewing only FNAME column of data.

Add the following lines of code to <code>db_code.py</code>

In [ ]:
query_statement = f"SELECT FNAME FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

3. Viewing the total number of entries in the table.

Add the following lines of code to <code>db_code.py</code>

In [ ]:
query_statement = f"SELECT COUNT(*) FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

Now try appending some data to the table. Consider the following.

a. Assume the <code>ID</code> is <code>100</code>.

b. Assume the first name, <code>FNAME</code>, is <code>John</code>.

c. Assume the last name as <code>LNAME</code>, <code>Doe</code>.

d. Assume the city of residence, <code>CITY</code> is <code>Paris</code>.

e. Assume the country code, <code>CCODE</code> is <code>FR</code>.

Use the following statements to create the dataframe of the new data.

In [ ]:
data_dict = {'ID' : [100],
            'FNAME' : ['John'],
            'LNAME' : ['Doe'],
            'CITY' : ['Paris'],
            'CCODE' : ['FR']}
data_append = pd.DataFrame(data_dict)

Now use the following statement to append the data to the <code>INSTRUCTOR</code> table.

In [3]:
data_append.to_sql(table_name, conn, if_exists = 'append', index =False)
print('Data appended successfully')

Now, repeat the <code>COUNT</code> query. You will observe an increase by 1 in the output of the first <code>COUNT</code> query and the second one.

Before proceeding with the final execution, you need to add the command to close the connection to the database after all the queries are executed.

Add the following line at the end of <code>db_code.py</code> to close the connection to the database.

In [4]:
conn.close()